* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}


h1 {
    font-weight: 900;
    font-size: 36px;
    color:rgb(17, 32, 147);
}
h2 {
    font-weight: bold;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color:rgb(17, 32, 147);
}
h3 {
    font-weight: 800;
    font-size: 28px;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(0, 0, 0)
}
p {
    line-height: 1.6;
    margin-bottom: 1rem;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


/*main*/
main {
    display: grid;
    gap: 0.5rem;
    grid-template-areas: 
        "resumen resumen resumen resumen resumen resumen"
        "experiencia experiencia experiencia experiencia experiencia experiencia"
        "educacion educacion educacion educacion educacion educacion"
        "habilidades habilidades proyectos proyectos proyectos proyectos"
        "contactame contactame contactame contactame contactame contactame";
}
#resumen {
    grid-area: resumen;
    text-align: center;
}
#experiencia {
    grid-area: experiencia;
    text-align: center;
}
#educacion {
    grid-area: educacion;
    text-align: center;
    place-items: center;
}
#proyectos {
    grid-area: proyectos;
    text-align: center;
}
#habilidades {
    grid-area: habilidades;
    text-align: center;
}
#contactame {
    grid-area: contactame;
    text-align: center;
}


/*secciones*/
section {
    background-color:rgb(255, 255, 255);
    transition: background-color 0.3s ease;

    border: 0.2pt solid #cedddd;
    padding: 1.5% 0.8%; 

    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
section:hover, section:hover * {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: color 0.4s;
}


/*nav*/
nav {
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
}
nav ul li {
    list-style-type: none;
    flex: 1;
    text-align: center;
}
nav ul a {
    position: relative;
    display: block;
    text-decoration: none;
    color:rgb(17, 32, 147);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
    transition: .5s;
    z-index: 1;
    border-left: 2px solid;
    border-right: 2px solid;
}
nav ul a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: .3s;
}
nav ul a:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transform: scale(0);
    opacity: 0;
    transition: .3s;
    z-index: -1;
}
nav ul a:hover {
    color: #fff;
}
nav ul a:hover:before {
    transform: scaleY(1);
    opacity: 1;
}
nav ul a:hover:after {
    transform: scale(1);
    opacity: 1;
}


/*header*/
header {
    display: grid;
    padding: 1rem;
    justify-content: center;
    gap: 0.5rem;	
    place-items: center;
    height: 615px;
}
header img {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}
header p {
    font-size: 28px;
}
button {
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: black;
    cursor: pointer;
    background-color: white;
}


/*informacion personal*/
.info-person {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    place-items: center;
}
.info-person p {
    width: 600px;
    text-align: justify;
}
.motive {
    display: grid;
    font-weight: bold;
    place-items: center;
    border: 2px solid white;
}


/*experiencia*/
#experiencia .experience-list{
    display: flex;
    gap: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: space-around;
}
.left-column {
    flex: 1;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7.5rem;
}
.right-column {
    flex: 1;
    height: 290px;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    margin-right: 7rem;
}
.vertical-table {
    width: 90%;
    border-collapse: collapse;
}
.vertical-table th,
.vertical-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid rgb(17, 32, 147);
}
.vertical-table th {
    background-color: #f4f4f4 !important;
    font-weight: bold;
    font-size: 21px;
    width: 30%;
    color: rgb(17, 32, 147) !important;
    border-left: 2px solid rgb(17, 32, 147);
    border-top: 2px solid rgb(17, 32, 147);
}  
.vertical-table td {
    width: 70%;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid white;
    background-color: rgb(17, 32, 147) !important;
    color: white;
}
.pdf-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d9534f !important;
    background-color: rgb(17, 32, 147) !important;
    font-weight: bold;
}  
.pdf-icon {
    margin-right: 5px;
    font-size: 1.2em;
    background-color: rgb(17, 32, 147) !important;
}
.right-column iframe {
    width: auto;
    height: 100%;
    border: none;
    flex-wrap: wrap;
}


/*educacion*/
.datosedu {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    place-items: center;
}
.datosedu p {
    border: 2px #4a90e2;
    border-top: 2px solid rgb(17, 32, 147);
    border-left: 2px solid rgb(17, 32, 147);
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgb(17, 32, 147);
    text-align: justify;
    width: 440px;
    color: black !important;
}
.datosedu iframe {
    width: 440px;
    height: 300px;
}


/*habilidades*/
#habilidades {
    padding-left: 4rem;
    padding-right: 4rem;
}
.lista-imagenes {
    padding: 1rem;
    place-items: center;
    align-items: center;
    padding-bottom: 3rem;
}
.lista-imagenes ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.lista-imagenes ul li {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}
.lista-imagenes ul li img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    transition: transform 0.3s, opacity 0.3s;
}
.lista-imagenes ul li:hover img {
    transform: scale(1.1);
    opacity: 0.7;
    object-fit: cover;
}
.text-super {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: bold;
}


/*proyectos*/
#proyectos {
    justify-items: center;
    justify-content: center;
}
#proyectos p {
    width: 80%;
    text-align: justify;
    object-fit: fill;
    justify-content: justify;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    justify-items: center;
    place-items: center;
    margin-left: 230px;
}
.img-left {
    width: 100%;
    border: 2pt solid #cedddd;
    box-shadow: 3px 3px 10px 0px rgb(17, 32, 147);
}
.img-right {
    width: 80%;
    object-fit: fill;
    border: 2pt solid #cedddd;
    box-shadow: 3px 3px 10px 0px rgb(17, 32, 147);
}


/*formulario*/
section form {
    display: grid;									
    row-gap: 0.5rem;
    place-items: center;
    padding-bottom: 1rem;
    grid-template-columns: 1fr 1fr;
} 
section form img {
    width: 80%;
    height: auto;
    border-radius: 5%;
    border: 2pt solid #cedddd;
    box-shadow: 3px 3px 10px 0px rgb(17, 32, 147);
}
.datos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-around;
    margin-bottom: 1;
    background-color: white !important;
}
.datos label {
    text-align: left;
    font-weight: 400;
    color: rgb(17, 32, 147);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white !important;
}
.datos input {
    border: 1px solid #cedddd;
    border-radius: 3px;
    font-size: 1rem;
    color: #000000;
    background-color: white !important;
}
.datos textarea {
    border: 1px solid #cedddd;
    border-radius: 3px;
    font-size: 1rem;
    color: #000000;
    background-color: white !important;
}
input::placeholder,
textarea::placeholder {
    color: #000000;
    font-style: normal;
    font-weight: lighter;
    opacity: 70%;
}
.formulario {
    max-width: 100%;
    width: 600px;
    border: 2pt solid #cedddd; 
    padding: 1.5% 0.8%; 
    padding-left: 20px; 
    padding-right: 20px; 
    border-radius: 5px;  
    background-color: white !important;

    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;    
    

    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}
.formulario .botoncito {
    background-color: rgb(17, 32, 147);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.formulario .botoncito:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}
.formulario .botoncito:hover {
    background-color: #000000;
    color: #cedddd;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.formulario .botoncito:active {
    background-color: #3e7b9a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.formulario .botoncito span {
    position: relative;
    z-index: 1;
}


/*footer*/
footer {
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}
footer .enlaces button {
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: black;
    cursor: pointer;
}